{% extends "layouts/base.html" %}

{% load static %}
 {% block title%} listing {% endblock title%} 

 {% block content %}
<h1 class="list">The Best Feature of Internet</h1>
<ul>
  <li>You can meet new people from countries around world.</li>
  <li>You have access to new media as it become public :</li>
<ul>
    <li>New games</li>
    <li>New applications</li>
    <ol>
     <li>For Business</li>
     <li>For Pleasure</li> 
    </ol> 
     <li>Around the click news</li>
     <li>Search engines</li>
     <li>shopping</li>
     <li>progarmming</li>
      <ol>
       <li>XML</li>
       <li>Java</li> 
       <li>HTML5</li> 
       <li>JavaScrIpt</li> 
       <li>New language</li> 
    </ol> 
</ul>
<li>Links</li> 
<li>Keeping in touch with old friend</li> 
<li>it's technology of future!</li> 
</ul>


{% endblock content %}